@model IEnumerable<Proyecto.UI.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-blue-gradient">
            <tr>
                <th scope="col">
                    Cedula
                </th>
                <th scope="col">
                    Nombre
                </th>
                <th scope="col">
                    Apellido 1
                </th>
                <th scope="col">
                    Apellido 2
                </th>
                <th scope="col">
                    Numero de Celular
                </th>
                <th scope="col">
                    Otro Telefono
                </th>
                <th scope="col">
                    Correo
                </th>
                <th scope="col">
                    Fecha de Nacimiento
                </th>
                <th scope="col">
                    Ingreso Salarial
                </th>
                <th scope="col">
                    Direccion Exacta
                </th>
                <th scope="col">
                    Distrito
                </th>
                <th scope="col">
                    Estado Cliente
                </th>
                <th scope="col">
                    Genero
                </th>
                <th scope="col">
                    Ocupacion
                </th>
                <th scope="col">
                    Tipo de Cliente
                </th>
                <th scope="col">
                    Genero
                </th>
                <th scope="col">
                    Codigo de Vehiculo
                </th>
                <th scope="col">
                    Vehiculo
                </th>            
                <th></th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroCelular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.otroTelefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ingresoSalarial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccionExacta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distrito.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCliente.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ocupacion.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoCliente.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehiculo.codigo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idCliente }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idCliente }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idCliente })
                    </td>
                </tr>
            }

    </table>
</div>