@model IEnumerable<Proyecto.UI.Models.EncabezadoCotizacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroLineas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.impuestoVentas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campana.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCotizacion.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroLineas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impuestoVentas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campana.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCotizacion.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEncabezadoCotizacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEncabezadoCotizacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEncabezadoCotizacion })
        </td>
    </tr>
}

</table>
