@model Proyecto.UI.Models.Campana

@{
    ViewBag.Title = "CalendarioCampana";
}

<h1>CalendarioCampana</h1>

@*<div>
    <h4>Campana</h4>
    <hr />*@
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuentoMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuentoMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuentoMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuentoMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canton.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canton.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado1.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado1.cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCampana.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCampana.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCampana.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCampana.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCampana }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
