@model IEnumerable<Proyecto.UI.Models.Campana>

@{
    ViewBag.Title = "Index";
}

<h2>Campañas</h2>

<p>
    @Html.ActionLink("Crear nueva Campaña", "Create", "Campaña")
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuentoMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuentoMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton.nombre)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Empleado.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.cedula)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EstadoCampana.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCampana.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuentoMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuentoMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canton.nombre)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Empleado.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado1.cedula)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCampana.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCampana.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCampana }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCampana }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCampana })
        </td>
    </tr>
}

</table>
