@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Inicio</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "EncabezadoCotizacions")">
                <a href="@Url.Action("Index", "EncabezadoCotizacions")"><i class="fa fa-link"></i> <span>Cotizaciones</span></a>
            </li>
            <li class="@Url.IsLinkActive("CalendarioCampana", "Campanas")">
                <a href="@Url.Action("CalendarioCampana", "Campanas")"><i class="fa fa-link"></i> <span>Calendario Campañas</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Notificacion")">
                <a href="@Url.Action("Index", "Notificacion")"><i class="fa fa-link"></i> <span>Notificaciones</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Clientes")">
                <a href="@Url.Action("Index", "Clientes")"><i class="fa fa-link"></i> <span>Clientes</span></a>
            </li>
            @*Inicia menu de administradores*@
            <li class="label-primary">
                <span>Administradores </span> 
            </li>
            <li class="@Url.IsLinkActive("Index", "Permisos")">
                <a href="@Url.Action("Index", "Permisos")"><i class="fa fa-link"></i> <span>Permisos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Roles")">
                <a href="@Url.Action("Index", "Roles")"><i class="fa fa-link"></i> <span>Roles</span></a>
            </li>
            @*campo para permisos*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Mantenimientos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li class="@Url.IsLinkActive("index", "Clientes")">
                        <a href="@Url.Action("index", "Clientes")"><i class="fa fa-link"></i> <span>Clientes</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Campanas")">
                        <a href="@Url.Action("index", "Campanas")"><i class="fa fa-link"></i> <span>Campaña</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Empleadoes")">
                        <a href="@Url.Action("index", "Empleadoes")"><i class="fa fa-link"></i> <span>Empleados</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Proveedors")">
                        <a href="@Url.Action("index", "Proveedors")"><i class="fa fa-link"></i> <span>Provedores</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Sedes")">
                        <a href="@Url.Action("index", "Sedes")"><i class="fa fa-link"></i> <span>Sedes</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Usuarios")">
                        <a href="@Url.Action("index", "Usuarios")"><i class="fa fa-link"></i> <span>Usuario</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("index", "Vehiculoes")">
                        <a href="@Url.Action("index", "Vehiculoes")"><i class="fa fa-link"></i> <span>Vehiculo</span></a>
                    </li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Reportes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li class="@Url.IsLinkActive("ReportA", "Reporte")">
                        <a href="@Url.Action("ReportA", "Reporte")"><i class="fa fa-link"></i> <span>ReportA</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("ReportB", "Reporte")">
                        <a href="@Url.Action("ReportB", "Reporte")"><i class="fa fa-link"></i> <span>ReportB</span></a>
                    </li>
                    <li class="@Url.IsLinkActive("ReportC", "Reporte")">
                        <a href="@Url.Action("ReportC", "Reporte")"><i class="fa fa-link"></i> <span>ReportC</span></a>
                    </li>

                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>