@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <li class="@Url.IsLinkActive("Index", "Home")">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
        </li>
        <li class="@Url.IsLinkActive("AnotherLink", "Home")">
            <a href="@Url.Action("AnotherLink", "Home")"><i class="fa fa-link"></i> <span>Cotizaciones</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "Roles")">
            <a href="@Url.Action("Roles", "Roles")"><i class="fa fa-link"></i> <span>Roles</span></a>
        </li>
        @*campo para permisos*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Mantenimientos</span>|
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                <li class="@Url.IsLinkActive("index", "Cliente")">
                    <a href="@Url.Action("index", "Cliente")"><i class="fa fa-link"></i> <span>Clientes</span></a>
                </li>
                <li class="@Url.IsLinkActive("index", "Campaña")">
                    <a href="@Url.Action("index", "Campaña")"><i class="fa fa-link"></i> <span>Campaña</span></a>
                </li>
                <li class="@Url.IsLinkActive("index", "Cotizacion")">
                    <a href="@Url.Action("index", "Cotizacion")"><i class="fa fa-link"></i> <span>Cotizacion</span></a>
                </li>
                <li class="@Url.IsLinkActive("index", "Empleado")">
                    <a href="@Url.Action("index", "Empleado")"><i class="fa fa-link"></i> <span>Empleado</span></a>
                </li>
                <li class="@Url.IsLinkActive("index", "Usuario")">
                    <a href="@Url.Action("index", "Usuario")"><i class="fa fa-link"></i> <span>Usuario</span></a>
                </li>
                <li class="@Url.IsLinkActive("index", "Vehiculo")">
                    <a href="@Url.Action("index", "Vehiculo")"><i class="fa fa-link"></i> <span>Vehiculo</span></a>
                </li>

            </ul>
        </li>
    </ul>
        @* END Menu *@
    </section>
</aside>