@model IEnumerable<Proyecto.UI.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.otroTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingresoSalarial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCliente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocupacion.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCliente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.codigo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingresoSalarial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionExacta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupacion.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCliente.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.codigo)
            </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.idCliente }) |
        @Html.ActionLink("Details", "Details", new { id = item.idCliente }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.idCliente })
    </td>
    </tr>
    }

</table>*@
