@model Proyecto.UI.Models.EncabezadoCotizacion

@{
    ViewBag.Title = "";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Encabezado Cotizacion</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Id Encabezado Cotizacion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idEncabezadoCotizacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idEncabezadoCotizacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <label class="control-label col-md-2">Fecha de Creacion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Id Cliente</label>
            <div class="col-md-10">
                @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            <label class="control-label col-md-2">Id Empleado</label>
            <div class="col-md-10">
                @Html.DropDownList("idEmpleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
        
            <label class="control-label col-md-2">Numero de Lineas</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroLineas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroLineas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Id de Campaña</label>
            <div class="col-md-10">
                @Html.DropDownList("idCampana", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idCampana, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Id Estado de Cotizacion</label>
            <div class="col-md-10">
                @Html.DropDownList("idEstadoCotizacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEstadoCotizacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Sub-total</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.subTotal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subTotal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
    
            <label class="control-label col-md-2">Monto de Descuento</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.montoDescuento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.montoDescuento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Impuesto de Ventas</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.impuestoVentas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.impuestoVentas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <label class="control-label col-md-2">Total</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
