@model IEnumerable<Proyecto.UI.Models.EncabezadoCotizacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-blue-gradient">
            <tr>
                <th scope="col">
                    Fecha Creacion
                </th>
                <th scope="col">
                    Numero de Linea
                </th>
                <th scope="col">
                   Sub-Total
                </th>
                <th scope="col">
                    Monto De Descuento
                </th>
                <th scope="col">
                    Impuesto de Ventas
                </th>
                <th scope="col">
                   Total
                </th>
                <th scope="col">
                    Nombre de la Campaña
                </th>
                <th scope="col">
                    Cedula del Cliente
                </th>
                <th scope="col">
                    Cedula de Empleado
                </th>
                <th scope="col">
                   Nombre de la cotizacion
                </th>
                <th></th>
            </tr>
        </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroLineas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.montoDescuento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.impuestoVentas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Campana.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCotizacion.nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idEncabezadoCotizacion }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idEncabezadoCotizacion }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idEncabezadoCotizacion })
                    </td>
                </tr>
            }

    </table>
</div>
