@model IEnumerable<Proyecto.UI.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parametroVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadDisponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoVehiculo.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parametroVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDisponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVehiculo.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVehiculo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVehiculo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVehiculo })
        </td>
    </tr>
}

</table>
